<!-- src/app/help/help.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Help & Support</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        If you need assistance, please refer to the following resources:
      </p>
      <ul>
        <li>FAQ: Frequently Asked Questions</li>
        <li>Contact Support: {{email}}</li>
        <li>Community Forums: forums.yourapp.com</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
