.div-img {
  // border: 2px solid yellow;
  position: relative;
  top: -40px;
  background-image: url("/assets/img/our_books_top.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 65%;
  width: 100%;
  h2 {
    position: absolute;
    font-size: 1.8rem;
    left: 20px;
    top: 100px;
    color: #fff;
    font-weight: 600;
  }
}
.books-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 180px;
  position: absolute;
  // border: 2px solid red;
  height: 210px;
  width: 100%;
  .slide-content {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    // border: 1px solid aqua;
    padding: 5px;
  }
  .slide-content:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  .bookImage {
    height: 80px;
    width: 100px;
  }
}
p {
  position: absolute;
  top: 280px;
  // border: 1px solid red;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
}

ion-footer {
  .footer-buttons {
    justify-content: space-around;
    width: 100%;
  }
  ion-toolbar {
    height: 45px;
    --background: #59b88c;
  }

  ion-button {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  ion-icon {
    // margin-top: 0px;
    color: #fff;
    font-size: 25px;
  }
  ion-label {
    color: #fff;
  }
}
