<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Favorite Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let book of favoriteBooks">
        <ion-card>
          <ion-img [src]="book.bookImg" alt="Book Image"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ book.bookName }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ book.authName }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
