<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Enable Dark Mode</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Language</ion-label>
    <ion-select>
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="fr">French</ion-select-option>
      <ion-select-option value="es">Spanish</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
